		.btn-floating {
		    bottom: 40px;
		    position: fixed;
		    right: 25px;
		}
		.waves-effect.waves-blue .waves-ripple {
		 /* The alpha value allows the text and background color
		 of the button to still show through. */
		  background-color: rgba(33, 150, 243 , 0.65);
		}
		.remind-title-text{
			color:orange;
			font-size:20px;
			text-align:center;
			font-weight:bold;
		}
		.remind-text1{
			color:white;
			font-size:25px;

		}
		b{
			font-size:32px;
			padding-left:15px;
		}
		i.remind{
			padding-top: 6px;
			padding-right: 4px;
		}

		.dropdown-content span {
			color: #2196f3 !important;
			}
		.input-field{
				color:#2196f3;
			}
		.input-field input[type=text]:focus {
		    	border-bottom: 1px solid #2196f3;
		     
		   	}

