		body{
			background-color: #90caf9;
			background-clip: 
		}
		main{
			background-color:#fff;
			position:relative;
			top:0px;
			left:0px;
			height: 100vh;
			width:100vw;
			transition: all 0.5s;
		}
		.side-li{
		}
		main.active{
			position: fixed;
			}
			.side-nav{
			left:0px;
		    z-index: 0;
		    box-shadow: none;
			}
		.btn-large.btn-flat:hover{
			box-shadow: none;
			background-color: white;
		}
		li.logo{
			border-bottom-width: 0px;
			width: 240px;
			height: 144px;
		}
		.card{
			box-shadow: none;
			width:100%;
			height:213px; 
		}
		.gap{
			padding-top: 15px;
			padding-bottom: 15px;
		}