.btn-floating {
		    bottom: 40px;
		    position: fixed;
		    right: 25px;
		}
		.waves-effect.waves-blue .waves-ripple {
		 /* The alpha value allows the text and background color
		 of the button to still show through. */
		  background-color: rgba(33, 150, 243 , 0.65);
		}
		.remind-title-text{
			color:orange;
			font-size:50px;
			text-align:center;
			font-weight:bold;
		}
		.remind-text1{
			color:white;
			font-size:25px;

		}
		b{
			font-size:32px;
			padding-left:15px;
		}
		i.remind{
			padding-top: 6px;
			padding-right: 4px;
		}

				body{
			background-color: #90caf9; 
		}
		main{
			background-color:#fff;
			position:relative;
			top:0px;
			left:0px;
			height:100vh;
			width:100vw;
			transition: all 0.5s;
			overflow: hidden;
		}
		main.active{
			position: fixed;
			}
			.side-nav{
			left:0px;
		    z-index: 0;
		    box-shadow: none;
			}
		.btn-large.btn-flat:hover{
			box-shadow: none;
			background-color: white;
		}
		li.logo{
			border-bottom-width: 0px;
			width: 240px;
			height: 144px;
		}
		.card{
			box-shadow: none;
			width:100%;
			height:213px; 
		}
		.gap{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.profile-pic{
		    position: relative;
		    width: 70.5px;
		    height: 70.5px;
		    top: 45px;
		    left: 50px;
		}
		.no-margin{
			margin:0px;
		}
		.card-small{
			box-shadow:none;
			width:100%;
			height:100px;
		}